<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8" />
	<title>つらいときに押すボタン</title>
	<script th:src="@{/webjars/vue/vue.js}"></script>
	<script th:src="@{/webjars/element-ui/lib/index.js}"></script>
	<script th:src="@{/webjars/element-ui/lib/umd/locale/ja.js}"></script>
	<script th:src="@{webjars/axios/0.17.1/dist/axios.js}"></script>
	<link rel="stylesheet" th:href="@{/webjars/element-ui/lib/theme-chalk/index.css}" />
	<link rel="stylesheet" th:href="@{/css/main.css}" />
</head>

<body>
	<commit-chart></commit-chart>

	<div id="app">
		<div class="btn-wrapper">
			<el-badge :value="oneDay" class="item">
				<button v-on:click="tsurami" type="button" class="btn">つらみ</button>
			</el-badge>
		</div>
		<canvas id="canvas"></canvas>
	</div>

	<script src="js/main.js"></script>
</body>

</html>